* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background :#3b4252;
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
}

#workspaces button.focused {
    background: #4c566a;
}

#custom-media, #memory, #network, #mode{
    padding: 0 8px;
    margin: 0 3px;
}

#backlight, #tray, #cpu, #clock, #battery {
    padding: 0 8px 0 0;
    margin: 0 3px 0 0;
}


#mode {
    background: #64727D;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
